@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}



.container{
  justify-content: center;
  margin: 30px 273px;
}

.form{
  border: 2px solid black;
  height: 80vh;
 
}